.mostrar-fichas--modal{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 40px;
}

.mostrar-fichas--modal div:first-child{
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.claimed--text{
	font-style: italic;
	margin: 4px;
	font-size: 16px;
}

.mostrar-fichas--modal div:first-child{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.mostrar-fichas-modal--fichas{
	background-color: #222;
	border-radius: 24px;
	display: flex;
	width: auto;
	padding:4px 8px;
	gap: 12px;
}

.mostrar-fichas-modal--fichas svg{
	width: 28px;
}