.room-controls--container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.room-controls--box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 24px;
}

.room--controls--action-btns{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.room--controls--action-btns div:first-child{
  display: flex;
  gap: 4px;
}

.room--controls--action-btns div:first-child button{
  border: 1px solid #444;
  width: 120px;
}

.room--controls--action-btns div:first-child button:hover{
  border: 1px solid #fff;
}



/* bet bar */

.room-controls--bet-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.room-controls--bet-bar input[type="range"]{
  cursor: pointer;
  width: 200px;
  height: 40px;
}

.room-controls--bet-bar input[type="number"]{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  min-width: 40px;
  max-width: 60px;
}

/* Para Chrome, Safari, Edge, Opera */
.room-controls--bet-bar input[type=number]::-webkit-inner-spin-button,
.room-controls--bet-bar input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
.room-controls--bet-bar input[type=number] {
  -moz-appearance: textfield;
}


/* botones */

.room-control--all-in--btn{
}
