.room-controls--container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.room-controls--box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 24px;
}

.room-controls--bet-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.room-controls--bet-bar input{
  cursor: pointer;
}

.room--controls--action-btns{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.room--controls--action-btns div:first-child{
  display: flex;
  gap: 4px;
}

.room--controls--action-btns div:first-child button{
  border: 1px solid #444;
}

.room--controls--action-btns div:first-child button:hover{
  border: 1px solid #fff;
}

