.room--container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 12px;
}

.main-table--container {
	width: 80%;
	height: 70%;
	background-color: #6b0f1a;
	border-radius: 30vw;
	box-shadow: 0 0 0 20px #4e342e;
	position: relative;
	margin: 40px;
	z-index: 20;
}

.back-to-lobby--btn {
	position: absolute;
	top: 12px;
	left: 12px;
	background-color: #333;
	padding: 10px;
	border-radius: 6px;
	cursor: pointer;
}

.back-to-lobby--btn svg {
	width: 24px;
	height: 24px;
	fill: #eee;
}

/* modal esperando jugadores */

.room-waiting-players--container {
	position: absolute;
	z-index: 999;
}

.room-waiting-players--box {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	gap: 12px;
}

/* pot-info-container */

.cards-nd-pot--info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999999;
	top: 30%;
	width: 50%;
	height: 130px;
}

.public-cards--container {
	display: flex;
	gap: 12px;
	width: 450px;
	height: 130px;
	z-index: 999999;
}

.public-cards--container div {
	width: 70.769px;
	height: 99.25px;
	background-image: url("../../assets/mazoPoker.png");
	border-radius: 12px;
	transform: scale(1.1);
}

.cards-nd-pot--info-container p {
	padding-bottom: 4px;
}
