.register-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;  
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box{
  position: relative;
  width: 500px;
  height: auto;
  background-color: #222;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
}

.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.register-form input{
  width: 80%;
  height: 48px;
  padding: 16px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
}

.register-form input:focus{
  border: 1px solid #eee;
}

.register--exit-btn{
  position: absolute;
  top: -16px;
  right: -16px;
  background-color: #eee;
  color: #222;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.register--exit-btn:hover{
  background-color: #ddd;
}

.register--exit-btn svg{
  width: 20px;
  height: 20px;
}

